<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-list fa-fw"></i> Product<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "Product")"><i class="fa fa-list fa-fw"></i> List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Product")"><i class="fa fa-plus fa-fw"></i> Add New Product</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-list fa-fw"></i> Product Group<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "ProductGroup")"><i class="fa fa-list fa-fw"></i> List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "ProductGroup")"><i class="fa fa-plus fa-fw"></i> Add New Product Group</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("MoveProduct", "WareHouse")"><i class="fa fa-university fa-fw"></i> Move Product</a>
                
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->